/* Foundation color palette */

:root {
  --light-gray: #e6e6e6;
  --medium-gray: #cacaca;
  --dark-gray: #8a8a8a;
  --black: #0a0a0a;
  --white: #fefefe;
  --primary: #1779ba;
  --secondary: #767676;
  --success: #3adb76;
  --warning: #ffae00;
  --alert: #cc4b37;
  /* Default Mirador Colour; note 
    that this is set via MUI
  */
  --mirador-bg: rgb(220, 220, 220);
}

#content:has(#cf_widget) .selection {
  display: none;
}

#cf_widget {
  position: sticky;
  top: 0.4em;
  display: flex;
  height: 90vh;
  flex-direction: column;
}

#cf_widget > .button-group {
  flex: 0;
}

.cf-selection {
  margin: 0.5em 0.5em 0.5em 0;
  color: var(--white);
}

.selection-update {
  color: inherit;
}

.cf-selection .fa-bookmark {
  transition: color 0.25s ease-out;
}

.cf-selection button.selection-update {
  color: var(--white);
}

.cf-selection button.selection-update.selected,
.selection-delete {
  background-color: var(--secondary);
}

button .fas.fa-plus {
  transition: transform 0.25s ease-in-out;
  margin-right: 0.4em;
}

.cf-selection button.selection-update.selected .fas.fa-plus,
.selection-delete .fas.fa-plus {
  transform: rotate(45deg);
}

.cf-selection button.selection-update.unselected:hover > .fas {
  color: var(--medium-gray);
}

.cf-selection button.selected .fas {
  color: var(--medium-gray);
}

.cf-selection button:after {
  content: attr(title);
}

.resource-list .resource > div {
  display: flex;
  flex-direction: column;
}

.resource-list .resource .actions {
  margin-top: auto;
  margin-left: 0;
}
.resource-list .resource img {
  float: none;
  margin-left: none;
}

.selection-list .selection-delete::after {
  content: unset;
}
/* Clover viewer changes */

clover-viewer {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 70vh;
  @media (max-width: 767px) {
    flex-direction: column !important;
  }
}

clover-viewer > div,
clover-viewer > div > div,
clover-viewer .clover-viewer-content,
.clover-viewer-content > div {
  height: 100%;
  @media (max-width: 767px) {
    flex-grow: 1 !important;
  }
}

clover-viewer figcaption {
  color: black !important;
}

clover-viewer clover-viewer div[role="radiogroup"] > button:hover {
  background-color: rgba(102, 102, 102, 0.133);
}

.clover-viewer-painting,
.clover-viewer-painting > div,
.clover-viewer-painting > div > div {
  flex: 1;
  height: 100%;
}

#cf_widget:has(.clover-viewer-painting audio) {
  height: unset;
}

clover-viewer:has(.clover-viewer-painting audio) {
  height: unset;
  flex: 0;
}

.clover-viewer-painting:has(audio) {
  flex: 0;
}

.clover-viewer-painting:has(audio) > div {
  background-color: transparent !important;
}

audio {
  width: 100%;
}

clover-viewer ~ *:not(.button-group) {
  display: none;
}

clover-viewer button[aria-expanded] {
  display: none !important;
}
body:not(.clover-loaded) clover-viewer {
  background: rgba(102, 102, 102, 0.133);
  display: grid;
  place-items: center;
}

body.clover-loaded .loader {
  display: none;
}

/* Add some slight visual distinction between comments */
.comment {
  padding: 1em 0;
}
.comments-thread .comment + .comment,
.comment .comment {
  border-top: 1px solid var(--medium-gray);
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  display: grid;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  border-radius: 50%;
  background: #f03355;
  -webkit-mask: repeating-linear-gradient(#000 0 5px, #0000 0 10px);
  animation: l35 1.5s infinite;
}
.loader:after {
  -webkit-mask: repeating-linear-gradient(#0000 0 5px, #000 0 10px);
  --s: -1;
}
@keyframes l35 {
  0%,
  10% {
    transform: translate(0) rotate(0);
  }
  35% {
    transform: translate(calc(var(--s, 1) * 50%)) rotate(0);
  }
  66% {
    transform: translate(calc(var(--s, 1) * 50%))
      rotate(calc(var(--s, 1) * 180deg));
  }
  90%,
  100% {
    transform: translate(0) rotate(calc(var(--s, 1) * 180deg));
  }
}
