/* Foundation color palette */

:root {
  --light-gray: #e6e6e6;
  --medium-gray: #cacaca;
  --dark-gray: #8a8a8a;
  --black: #0a0a0a;
  --white: #fefefe;
  --primary: #1779ba;
  --secondary: #767676;
  --success: #3adb76;
  --warning: #ffae00;
  --alert: #cc4b37;
  /* Default Mirador Colour; note 
    that this is set via MUI
  */
  --mirador-bg: rgb(220, 220, 220);
}

#cf_widget {
  /* background-color: var(--mirador-bg);*/
  /* padding-bottom: 0.4em; */
}
#content:has(#cf_widget) .selection {
  display: none;
}

#cf_widget {
  position: sticky;
  top: 0.4em;
}

.cf-selection {
  margin: 0.5em 0.5em 0.5em 0;
  color: var(--white);
}

.selection-update {
  color: inherit;
}

.cf-selection .fa-bookmark {
  transition: color 0.25s ease-out;
}

.cf-selection button.selection-update {
  color: var(--white);
}

.cf-selection button.selection-update.selected,
.selection-delete {
  background-color: var(--secondary);
}

button .fas.fa-plus {
  transition: transform 0.25s ease-in-out;
  margin-right: 0.4em;
}

.cf-selection button.selection-update.selected .fas.fa-plus,
.selection-delete .fas.fa-plus {
  transform: rotate(45deg);
}

.cf-selection button.selection-update.unselected:hover > .fas {
  color: var(--medium-gray);
}

.cf-selection button.selected .fas {
  color: var(--medium-gray);
}

.cf-selection button:after {
  content: attr(title);
}

.resource-list .resource > div {
  display: flex;
  flex-direction: column;
}

.resource-list .resource .actions {
  margin-top: auto;
  margin-left: 0;
}
.resource-list .resource img {
  float: none;
  margin-left: none;
}

.selection-list .selection-delete::after {
  content: unset;
}

/* Universal Viewer isn't shadow-dom'd, so need to reset all properties */

.uv #content {
  padding: unset !important;
}

.uv h1 {
  display: none !important;
}

.uv-iiif-extension-host.uv-openseadragon-extension
  .centerPanel
  .content
  .viewer {
  padding-bottom: 16px;
}

/* Unclear how to configure the removal of attribution */
.universal-viewer .attribution {
  display: none !important;
}
